<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${param.success}" class="alert alert-success">
    Welcome, <td th:text="${currentUser.getUserName()}"></td>
</div>
<div>
    <div onclick="window.location='/loginPage'" id="loginBtn">
        登录
    </div>
    <div onclick="window.location='/goodsPage'" id="goodsBtn">
        添加商品
    </div>
    <div onclick="window.location='/shoppingCartPage'" id="shoppingCartBtn">
        打开购物车
    </div>
</div>
<form th:each="goods:${allGoods}" th:action="@{/addToCart}" method="post">
    <td th:text="${goods.getGoodsName()}" /><br>
    <td th:text="${goods.getPrice()}" /><br>
    <img th:src="${goods.getImg()}" alt=""> <br>
    <td th:text="${goods.getDescription()}" /><br>
    <button type="submit" name="id" th:value="${goods.getGoodsId()}">添加到购物车</button><br>
</form>




</body>
</html>
