<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demo</title>
</head>
<body>
<form th:action="@{/loginAction}" th:object="${user}" method="post">
    <label for="username">UserName:</label><br>
    <input type="text" th:field="*{userName}" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="text" th:field="*{password}" id="password" name="password" required>
    <div>
        <button type="submit">登录</button>
    </div>
    <a href='/registerPage'>注册帐号</a>
</form>
<div th:if="${param.fail}" class="alert alert-success">
    Incorrect username or password
</div>
</body>
</html>